@font-face {
    font-family: "Diary of an 8-Bit Mage";
    src: url("../../assets/fonts/DiaryOfAn8BitMage-lYDD.ttf");
}

* {
    font-family: "Diary of an 8-Bit Mage";
}

.fade-in {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.five-day-forecast {
    float: left;
    font-size: .75rem;
}

.five-day-icon {
    height: 30px;
    width: 30px;
}

li {
    cursor: pointer;
}