@font-face {
    font-family: "Diary of an 8-Bit Mage";
    src: url("../../assets/fonts/DiaryOfAn8BitMage-lYDD.ttf");
}

* {
    font-family: "Diary of an 8-Bit Mage";
}

.fade-in {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.five-day-forecast {
    font-size: .65rem;
    border: 1px solid black;
    background: var(--bs-light);
}

.day-icon {
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}

#instructions {
    height: 80vh;
}

li {
    cursor: pointer;
}

#weather {
    font-size: .95rem;
}